{include file=comm/head.html}

{include file=comm/top.html}


<div id="vue-app-1" class="container">
      <!-- <el-container>
        <el-main> -->
          <div class="container pages" style="min-height: fit-content;">
            {include file=comm/position.html}
            <h2 class="text-center my-4 fs-sm-28 fs-24">{content:title}</h2>
            <div class="content" style="overflow-wrap: break-word">
              {content:content}
            </div>
          </div>
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <div id="container"></div>
          </div>
          <!-- 留言表单 -->
    <div class="row">
    	<!-- <div class="col-lg-3"></div> -->
    	<div class="col-24 col-lg-12">
        	<form class="my-4"  onsubmit="return submsg(this);">
            <div style="display: grid;
  grid-template-columns: repeat(2, 1fr);gap: 30px;">
                  <div class="form-group">
                    <label for="contacts">Contact Person<span style="color: red;">*</span></label>
                    <div>
                        <input type="text" name="contacts" required id="contacts" class="form-control" placeholder="Please enter contact person">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="mobile">Contact Phone<span style="color: red;">*</span></label>
                    <div>
                        <input type="text" name="mobile" required id="mobile" class="form-control" placeholder="Please enter contact phone">
                    </div>
                </div>
  </div>
            
   <div class="form-group">
                    <label for="content" >Subject<span style="color: red;">*</span></label>
                    <div>
                        <input type="text" name="topic" required id="subject" class="form-control" placeholder="Please enter subject">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" >Message Content<span style="color: red;">*</span></label>
                    <div>
                        <textarea name="content" id="content" class="form-control textarea" placeholder="Please enter message content"></textarea>
                    </div>
                </div>
                
                {pboot:if({pboot:msgcodestatus})}
                <div class="form-group">
                    <label for="checkcode">Verification Code</label>
                    <div class="row">
                        <div class="col-10 col-md-3">
                            <input type="text" name="checkcode" required id="checkcode" class="form-control" placeholder="Please enter verification code">
                        </div>
                        <div class="col-2">
                            <img title="点击刷新" class="codeimg" style="height:39px;" src="{pboot:checkcode}" onclick="this.src='{pboot:checkcode}?'+Math.round(Math.random()*10);" />
                        </div>
                    </div>
                </div>
                {/pboot:if}
                
                <div class="form-group">
                   <button type="submit" class="btn btn-info mb-2">Submit Message</button>
                </div>
            </form>
        </div>
        <!-- <div class="col-lg-3"></div> -->
    </div>
        <!-- </el-main>
      </el-container> -->
    </div>

{include file=comm/foot.html}

<script>
//ajax提交留言
function submsg(obj){
  var url='{pboot:msgaction}';
  var contacts=$(obj).find("#contacts").val();
  var mobile=$(obj).find("#mobile").val();
  var content=$(obj).find("#content").val();
  var checkcode=$(obj).find("#checkcode").val();
  var topic=$(obj).find("#subject").val();
  $.ajax({
    type: 'POST',
    url: url,
    dataType: 'json',
    data: {
    	contacts: contacts,
    	mobile: mobile,
    	content: content,
    	checkcode: checkcode,
      topic:topic
    },
    success: function (response, status) {
      if(response.code){
	 alert("Thank you for your feedback, we will contact you as soon as possible!");
	 $(obj)[0].reset(); 
      }else{ 
	 if(response.tourl!=""){
	     if(confirm(response.data+'Do you want to jump to login immediately?')){
		     location.href=response.tourl; 
   	   	     }
	 }
	 $('.codeimg').click();//Update verification code
      }
    },
    error:function(xhr,status,error){
      alert('Return data exception!');
    }
  });
  return false;
}
</script>

<style>
  .form-control {
    height: calc(2.2em + .75rem + 2px) !important;
  }
  .textarea{
    height: calc(4.5em + .75rem + 2px) !important;
  }
</style>