{include file=comm/head.html}

{include file=comm/top.html}

<div class="container pages">

	{include file=comm/position.html}
  	 
  	{include file=comm/sortnav.html}

    <h2 class="text-center fs-sm-28 fs-20 mt-3">{content:title}</h2>
    <div class="text-center border-bottom text-secondary pb-2 mb-3">
    	  Date：{content:date style=Y-m-d}&nbsp;&nbsp;&nbsp;Views：{content:visits operate=+1000}
    </div>
	<div class="content mb-3">{content:content}</div>
	<div class="text-secondary lh-2">
		<p>Previous：{content:precontent}</p>
		<p>Next：{content:nextcontent}</p>
	</div>
</div>

{include file=comm/comment.html}

{include file=comm/foot.html}
